@using DrivingSchoolManagement.Helpers
@using DrivingSchoolManagement.Models
@model DrivingSchoolManagement.ViewModels.HomeCarouselViewModel

<link href="@Url.ContentVersioned("~/Content/owl.carousel.css")" rel="stylesheet" />
<link href="@Url.ContentVersioned("~/Content/owl.theme.css")" rel="stylesheet" />
<link href="@Url.ContentVersioned("~/Content/owl.transitions.css")" rel="stylesheet" />
<style>
    .header{
        padding: 0px 0px !important;
    }
</style>
<div id="carousel" class="owl-carousel owl-theme">
    <div class="item">
        <div class="col s12" style="margin: 0 auto; padding-right: 10px">
            <h5 class="header">Nasi kierowcy</h5>
            @foreach (var driver in Model.OurDrivers)
            {
                <div class="card horizontal hoverable" onclick="window.open('@Url.Action("Details", "User", new {id=driver.UserID})','_blank')">
                    <div class="card-image" style="width: 25%;height: 150px">
                        <img src="@Url.Content("~/Content/Images/driver" + driver.UserID + ".jpg")" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                <b>@driver.FirstName @driver.LastName </b><br />
                                @if (driver.DateOfBirth != null)
                                {
                                    ViewContext.Writer.Write(driver.DateOfBirth.ToShortDateString());
                                }
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="item">
        <div class="col s12" style="margin: 0 auto; padding-right: 10px">
            <h5 class="header">Nasi menadżerowie</h5>
            @foreach (var manager in Model.OurManagers)
            {
                <div class="card horizontal hoverable" onclick="window.open('@Url.Action("Details", "User", new {id=manager.UserID})','_blank')">
                    <div class="card-image" style="width: 25%;height: 150px">
                        <img src="@Url.Content("~/Content/Images/manager" + manager.UserID + ".jpg")" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                <b>@manager.FirstName @manager.LastName </b><br />
                                @if (manager.DateOfBirth != null)
                                {
                                    ViewContext.Writer.Write(manager.DateOfBirth.ToShortDateString());
                                }
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="item">
        <div class="col s12" style="margin: 0 auto; padding-right: 10px">
            <h5 class="header">Kategorie w jakich nauczamy</h5>
           @foreach (var category in Model.OurCategories)
            {
            <div class="card horizontal hoverable" onclick="window.open('@Url.Action("Details", "User", new {id=category.CategoryID})','_blank')">
                <div class="card-image" style="width: 25%;height: 150px">
                    <img src="@Url.Content("~/Content/Images/category" + category.CategoryName + ".jpg")" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            <b>@category.CategoryName </b><br />
                            @if (category.About != null)
                            {
                                ViewContext.Writer.Write(category.About);
                            }
                            <br />
                        </p>
                    </div>
                </div>
            </div>
           }
        </div>
    </div>
    <div class="item">
        <div class="col s12" style="margin: 0 auto; padding-right: 10px">
            <h5 class="header">Nasze pojazdy</h5>
            @foreach (var vehicle in Model.OurVehicles)
            {
                <div class="card horizontal hoverable" onclick="window.open('@Url.Action("Details", "Vehicle", new {id= vehicle.VehicleID})','_blank')">
                    <div class="card-image" style="width: 25%;height: 150px">
                        <img src="@Url.Content("~/Content/Images/car" + vehicle.VehicleID + ".jpg")" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                <b>@vehicle.Brand @vehicle.Model </b><br />
                                @if (vehicle.About != null)
                                {
                                    ViewContext.Writer.Write(vehicle.About);
                                }
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document)
        .ready(function() {
            var carousel = $("#carousel");
            carousel.owlCarousel({
                autoPlay: 6000,
                items: 2
            });
        });
</script>
<script src="@Url.ContentVersioned("~/Scripts/owl.carousel.js")"></script>